*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice:hover{
    /* opacity:0.5; */
    cursor: pointer;
    background-color: #081b31;
}
.choices{
    display: flex;
    justify-content: center;
     align-items: center;
     gap: 3rem;
     margin-top: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choices img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.score{
    font-size: 2rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    display: inline;
    border-radius: 1rem;
}
#rstBtn{
    margin-top: 2rem;
    background-color: #081b31;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    width: 10rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 3px 10px rgba(60, 4, 4, 0.9);
}